.error {
  display: none;
}

.error-message {
  border: 3px solid red;
  border-radius: 5px;
  width: 100%;
  margin: 20px 0;
  display: flex;
  justify-content: center;
  padding: 10px;
  color: red;
}

.error-icon {
  padding: 0 10px 0 10px;
}