
.tweets-from-db {
  border: 3px solid black;
  border-radius: 5px;
  margin-top: 50px;
  padding: 20px;
}

.tweets-from-db:hover {
  box-shadow: 5px 10px;
}

.tweets-from-db header {
  display: flex;
  justify-content: space-between;
}

.header-icon{
  padding-right: 20px;
}

.footer {
  display: flex;
  justify-content: space-between;
}

.footer-icons:hover {
  color: orange;
}

.footer-icons {
  margin: 0 10px 0 10px;
}

.hr {
  border: 2px solid black;
}